* {
	box-sizing: border-box;
	min-width: 0px;
}

body {
	background-color: #111;
	color: #ddd;
	font-family: sans-serif;
	font-size: max(14pt, 1em);
	margin-left: 25vw;
	margin-right: 25vw;
	margin-top: 1em;
}

/* Custom styles for code blocks. */
brac1 {
	color: #fd0;
}
brac2 {
	color: #d7d;
}
brac3 {
	color: #19f;
}
clss {
	color: #3cb;
}
com {
	color: #7a3;
}
kw {
	color: #59d;
}
num {
	color: #bca;
}
str {
	color: #c97;
}
