* {
	box-sizing: border-box;
	min-width: 0px;
}
:root {
	font-size: max(14pt, 1em);
}

body {
	background-color: #111;
	color: #ddd;
	font-family: sans-serif;
	margin: 1em auto;
	width: calc(min(100vw, 1080px) - 2em);
}

code {
	display: block;
	font-size: calc(1rem - 3px);
	line-height: 1rlh;
	padding-left: 4ch;
	white-space: nowrap;
}
il-code {
	font: calc(1em - 3px) monospace;
}

/* Custom styles for code blocks. */
brac1 {
	color: #fd0;
}
brac2 {
	color: #d7d;
}
brac3 {
	color: #19f;
}
clss {
	color: #3cb;
}
com {
	color: #7a3;
}
kw {
	color: #59d;
}
num {
	color: #bca;
}
str {
	color: #c97;
}
